.button {
  width: 176px;
  height: 48px;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  color: $primary-color;
  background-color: $secondary-color;
  padding: 0 auto 76px auto;
  transition: color ease 1s;
  opacity: 3;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  &:hover:before {
    width: inherit;
  }
  &:hover {
    opacity: 1;
    transform: translate(0, -3px);
    cursor: pointer;
  }
}
