<h2 class="footer__content--section--title">@@title</h2>

<ul class="footer__content--section--links">
  <li>
    <a
      class="footer__content--section--links--link"
      href="https://adalab.es/"
      target="_blank"
    >
      @@item
    </a>
  </li>
  <li>
    <a
      class="footer__content--section--links--link"
      href="https://adalab.es/"
      target="_blank"
    >
      @@itema
    </a>
  </li>
  <li>
    <a
      class="footer__content--section--links--link"
      href="https://adalab.es/"
      target="_blank"
    >
      @@itemb
    </a>
  </li>
  <li>
    <a
      class="footer__content--section--links--link"
      href="https://adalab.es/"
      target="_blank"
    >
      @@itemc
    </a>
  </li>
</ul>
