<h2 class="footer__title">@@title</h2>

<ul class="footer__links">
  <li>
    <a
      class="footer__link"
      href="https://adalab.es/"
      target="_blank"
      rel="noopener noreferrer"
    >
      @@item
    </a>
  </li>
  <li>
    <a
      class="footer__link"
      href="https://adalab.es/"
      target="_blank"
      rel="noopener noreferrer"
    >
      @@itema
    </a>
  </li>
  <li>
    <a
      class="footer__link"
      href="https://adalab.es/"
      target="_blank"
      rel="noopener noreferrer"
    >
      @@itemb
    </a>
  </li>
  <li>
    <a
      class="footer__link"
      href="https://adalab.es/"
      target="_blank"
      rel="noopener noreferrer"
    >
      @@itemc
    </a>
  </li>
</ul>
