<footer class="page_footer">
  <include
    src="./article_footer.html"
    title="Tienda"
    item="Productos"
    itema="Cajoneras"
    itemb="Para toda la casa"
    itemc="Habitaciones"
  ></include>
  <include
    src="./article_footer.html"
    title="Nosotros"
    item="Nuestra Guía"
    itema="Nuestro diseño"
    itemb="Nuestra historia"
    itemc="Ayuda"
  ></include>
  <article>
    <h2>Contacto</h2>
    <p>ayuda@openspaces.com</p>
    <p>Socios</p>
    <a href="https://www.linkedin.com/school/adalab/" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://www.instagram.com/adalab_digital/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://github.com/Adalab" target="_blank">
      <i class="fa-brands fa-github-alt"></i
    ></a>
  </article>
</footer>
