<footer class="footer">
  <div class="footer__content">
    <section class="footer__content--section">
      <include
        src="./article_footer.html"
        title="Tienda"
        item="Productos"
        itema="Cajoneras"
        itemb="Para toda la casa"
        itemc="Habitaciones"
      ></include>
    </section>
    <section class="footer__content--section">
      <include
        src="./article_footer.html"
        title="Nosotros"
        item="Nuestra Guía"
        itema="Nuestro diseño"
        itemb="Nuestra historia"
        itemc="Ayuda"
      ></include>
    </section>
    <section class="footer__content--section">
      <h2 class="footer__content--section--title">Contacto</h2>

      <ul class="footer__content--section--links">
        <li>
          <a
            class="footer__content--section--links--link"
            target="_blank"
            href="mailto:hola@adalab.es"
          >
            ayuda@openspaces.com
          </a>
        </li>
        <li>
          <a
            class="footer__content--section--links--link"
            href="https://adalab.es/"
            target="_blank"
            >Socios</a
          >
        </li>
      </ul>
      <ul class="footer__content--section--social-links">
        <li>
          <a
            href="https://www.linkedin.com/school/adalab/"
            class="footer__content--section--social-links--link"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/adalab_digital/"
            class="footer__content--section--social-links--link"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/adalab_digital?lang=en"
            class="footer__content--section--social-links--link"
            target="_blank"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </section>

    <div class="footer__content--arrow">
      <a href="" class="footer__content--arrow--link">
        <i class="fa-solid fa-arrow-up" id="page"></i>
      </a>
    </div>
  </div>
</footer>
