<footer class="footer">
  <div class="footer__inner limit-width">
    <section class="footer__section">
      <include
        src="./article_footer.html"
        title="Tienda"
        item="Productos"
        itema="Cajoneras"
        itemb="Para toda la casa"
        itemc="Habitaciones"
      ></include>
    </section>
    <section class="footer__section">
      <include
        src="./article_footer.html"
        title="Nosotros"
        item="Nuestra Guía"
        itema="Nuestro diseño"
        itemb="Nuestra historia"
        itemc="Ayuda"
      ></include>
    </section>
    <section class="footer__section">
      <h2 class="footer__title">Contacto</h2>

      <ul class="footer__links">
        <li>
          <a
            class="footer__link"
            target="_blank"
            href="mailto:hola@adalab.es"
            rel="noopener noreferrer"
          >
            ayuda@openspaces.com
          </a>
        </li>
        <li>
          <a
            class="footer__link"
            href="https://adalab.es/"
            target="_blank"
            rel="noopener noreferrer"
            >Socios</a
          >
        </li>
      </ul>
      <ul class="footer__social-links">
        <li>
          <a
            href="https://www.linkedin.com/school/adalab/"
            class="footer__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/adalab_digital/"
            class="footer__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/adalab_digital?lang=en"
            class="footer__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </section>

    <div class="footer__scroll-to-top">
      <a href="#top">
        <img src="./assets/images/arrow.png" alt="flecha" />
      </a>
    </div>
  </div>
</footer>
