<header class="header">
  <section class="header__content">
    <section class="header__content--nav">
      <nav class="header__nav">
        <a class="header__nav--icon" href="https://adalab.es/" target="_blank">
          <i class="fa-solid fa-bars"></i>
        </a>
        <ul class="header__nav--menu">
          <li>productos</li>
          <li>colecciones</li>
          <li>tienda</li>
          <li>inicio</li>
        </ul>
      </nav>
      <img
        src="../assets/images/logo.png"
        alt="logo"
        class="header__nav--logo"
      />
    </section>
    <section class="header__content--article">
      <h1 class="title">Disfruta creando espacios</h1>
      <button class="button">Comprar Ahora</button>
    </section>
  </section>
</header>
