<main class="main">
  <section class="main__hero">
    <h2 class="hero__title">Open Spaces</h2>
    <a class="hero__link" href="https://trello.com/">15/03/2022</a>
  </section>
  <section class="main__benefits">
    <div class="benefits__inner limit-width">
      <h2 class="benefits__title title">
        Volverse organizado se siente mejor con OPEN SPACES
      </h2>

      <include
        src="./article_main.html"
        image="./assets/images/icon_1.png"
        title="Lo que necesitas"
        description="Una linea de productos diseñados para todos tus espacios"
      ></include>
      <include
        src="./article_main.html"
        image="./assets/images/icon_2.png"
        title="Materias primas sustentables"
        description="Una linea de productos diseñados para todos tus espacios"
      ></include>
      <include
        src="./article_main.html"
        image="./assets/images/icon_3.png"
        title="Guia"
        description="Soporte y asesoramiento para ayudarte con tu objetivo"
      ></include>
    </div>
  </section>

  <section class="main__shipments">
    <div class="shipments__inner limit-width">
      <img
        class="shipments__icon"
        src="./assets/images/icon_4.png"
        alt="icono envio"
      />
      <h3 class="shipments__title title">Envio gratis garantizado</h3>
      <p class="shipments__description">Envío gratis desde compra desde 100</p>

      <button class="button button--ghost">Comprar ahora</button>
    </div>
  </section>

  <section class="main__shop">
    <section class="shop__slogan">
      <div class="slogan__inner">
        <h2 class="slogan__title title">Disfruta creando espacios</h2>
        <p class="slogan__description">
          Una linea de productos diseñados para todos tus espacios
        </p>
        <button class="button">Comprar Ahora</button>
      </div>
    </section>

    <section class="shop__image"></section>
  </section>
</main>
