<main class="main">
  <section class="main__">
    <h2 class="title">Volverse organizado se siente mejor con OPEN SPACE</h2>
    <include
      src="./article_main.html"
      image="../assets/images/icon_1.png"
      title="Lo que necesitas"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>
    <include
      src="./article_main.html"
      image="../assets/images/icon_2.png"
      title="Materias primas sustentables"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>
    <include
      src="./article_main.html"
      image="../assets/images/icon_3.png"
      title="Guia"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>
  </section>
  <section>
    <img src="../assets/images/icon_4.png" alt="" />
    <h2>Envio gratis garantizado</h2>
    <p>Envio gratis desde compra desde 100</p>
    <a href="https://kenayhome.com/es/" target="_blank">Comprar ahora</a>
  </section>
  <section>
    <h2 class="title">Disfruta creando espacios</h2>
    <p>Una linea de productosdiseñados para todos tus espacios</p>
    <button class="button">Comprar Ahora</button>
    <img src="../assets/images/creando-espacio.jpg" alt="" />
  </section>
</main>
