<main class="main">
  <section class="main__benefits wrapper">
    <h2 class="main__benefits--title title">
      Volverse organizado se siente mejor con OPEN SPACE
    </h2>
    <include
      src="./article_main.html"
      image="../assets/images/icon_1.png"
      title="Lo que necesitas"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>
    <include
      src="./article_main.html"
      image="../assets/images/icon_2.png"
      title="Materias primas sustentables"
      text="Una linea de productos diseñados para todos tus espacios"
    ></include>
    <include
      src="./article_main.html"
      image="../assets/images/icon_3.png"
      title="Guia"
      text="Soporte y asesoramiento para ayudarte con tu objetivo"
    ></include>
  </section>
  <section class="main__shipments wrapper">
    <img
      class="main__shipments--icon"
      src="../assets/images/icon_4.png"
      alt="icono envio"
    />
    <h2 class="main__shipments--title">Envio gratis garantizado</h2>
    <p class="main__shipments--text">Envío gratis desde compra desde 100</p>
    <a
      class="main__shipments--link"
      href="https://kenayhome.com/es/"
      target="_blank"
      >Comprar ahora</a
    >
  </section>
  <section class="main__shop">
    <section class="main__shop--content wrapper">
      <h2 class="title">Disfruta creando espacios</h2>
      <p class="main__shop--content--text">
        Una linea de productosdiseñados para todos tus espacios
      </p>
      <button class="button">Comprar Ahora</button>
    </section>
    <img
      class="main__shop--img"
      src="../assets/images/creando-espacios.jpg"
      alt="imagen accesorios"
    />
  </section>
</main>
