.limit-width {
  padding: 0 35px;
  width: 100%;
  max-width: 806px;
  margin: 0 auto;

  @include desktop() {
    max-width: 1238px;
  }
}

.title {
  @include fontSize(24px);
  color: $secondary-color;
  font-weight: bold;

  @include tablet() {
    @include fontSize(36px);
  }
}

.title--secondary {
  @include fontSize(20px);
  font-weight: bold;
  color: $secondary-color;
  line-height: normal;

  @include desktop() {
    @include fontSize(24px);
  }
}
