.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $secondary-color;
}

.title-secondary {
  font-size: 1.2rem;
  font-weight: bold;
  color: $secondary-color;
}
// wrapper

.wrapper {
  padding: 0 47px;
  margin: 0 auto;
  // width: 100%;
}
