.limit-width {
  padding: 0 35px;
  max-width: 806px;
  margin: 0 auto;

  @include desktop() {
    max-width: 1238px;
  }
}

.title {
  @include fontSize(24px);
  color: $secondary-color;
  font-weight: bold;

  @include tablet() {
    @include fontSize(36px);
  }
}

.title-secondary {
  font-weight: bold;
  color: $secondary-color;
  @include fontSize(24px);

  @include tablet() {
    @include fontSize(36px);
    height: 112px;
  }
  @include desktop() {
    @include fontSize(36px);
    font-weight: bold;
    text-align: left;
  }
}

.title-tertiary {
  @include fontSize(20px);
  font-weight: bold;
  color: $secondary-color;
  line-height: normal;
  @include tablet() {
    @include fontSize(20px);
  }
  @include desktop() {
    @include fontSize(24px);
  }
}
