.footer {
  background-color: $secondary-color;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    position: relative;

    @include mobile() {
      padding-left: 146px;
    }

    @include tablet() {
      flex-direction: row;
      gap: 70px;
      justify-content: flex-start;
      align-items: center;
    }

    @include desktop() {
      gap: 200px;
    }

    &--section {
      color: $text-color;
      @include fontSize(20px);

      &--title {
        margin-bottom: 14px;
        font-weight: bold;
      }

      &--links {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include fontSize(14px);

        &--link {
          color: inherit;
          text-decoration: none;
        }
      }

      &--social-links {
        display: flex;
        gap: 10px;
        color: white;
        margin-top: 20px;

        &--link {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    &--arrow {
      position: absolute;
      bottom: 10px;
      right: 28px;
      width: 16px;
      animation-name: arrow;
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes arrow {
        0% {
          transform: translate(0, -5px);
        }
        50% {
          transform: translate(0, 10px);
        }
        100% {
          transform: translate(0, -5px);
        }
      }

      &--link {
        color: white;
      }

      @include tablet() {
        bottom: 60px;
      }

      @include desktop() {
        bottom: 138px;
      }
    }
  }
}
