.header {
  height: 100vh;
  max-width: 100%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__nav--icon {
    position: fixed;
    z-index: 1;
    left: 35px;
    top: 65px;
    color: $secondary-color;

    @include desktop() {
      display: none;
    }
  }

  &__nav {
    display: flex;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--nav {
      display: flex;
      align-items: center;
      padding-top: 27px;
      @include desktop() {
        // width: 50vw;
        display: flex;
      }
    }

    &--article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding-bottom: 64px;
    }
  }

  &__nav--logo {
    width: 200px;
    height: 90px;
  }

  &__nav--menu {
    display: none;
  }

  &__nav--menu {
    @include desktop {
      display: flex;
      gap: 40px;
      position: fixed;
      left: 10%;
      z-index: 999;
      text-transform: capitalize;
      color: $secondary-color;
    }
  }
}
