.header {
  height: 100vh;
  max-width: 100%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include tablet() {
    background-position: right;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 64px;
    height: 100%;
  }

  &__menu {
    width: 100%;
    position: fixed;
    top: 64px;
    z-index: 1;
    border-color: blue;
  }

  &__hamburger-button {
    @include desktop() {
      display: none;
    }

    > a {
      color: $secondary-color;
    }
  }

  &__nav {
    display: none;

    @include desktop() {
      display: inline-flex;
      flex-direction: row;
      gap: 30px;
    }

    &-link {
      text-decoration: none;
      color: $secondary-color;
    }
  }

  &__logo {
    width: 213px;
    height: 96px;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &__slogan {
    text-align: center;

    @include tablet() {
      width: 430px;
      align-self: flex-start;
      padding: 0 0 155px 100px;
      text-align: left;
    }

    @include desktop() {
      padding: 0 0 35% 0;
    }

    &-title {
      margin-bottom: 24px;
    }
  }
}
