.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 2fr;

  @include tablet() {
    grid-template-rows: 1fr 1fr 2fr;
  }

  @include desktop() {
    grid-template-rows: 1fr 1fr 0.5fr;
  }

  // Benefits section
  &__benefits {
    height: 100%;
    display: grid;
    justify-items: center;
    background-color: $primary-color;
    text-align: center;

    @include tablet() {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 3fr;
      padding-bottom: 73px;
    }

    &--title {
      align-content: center;

      @include tablet() {
        grid-column: 1/4;
        padding-top: 60px;
        padding-bottom: 70px;
        @include fontSize(24px);
      }

      @include desktop() {
        height: 122px;
        width: 800px;
      }
    }

    &--article {
      display: grid;
      justify-items: center;
      align-content: center;
      width: 208px;

      &--icon {
        height: 120px;
        width: 120px;
        padding-bottom: 20px;
      }

      &--text {
        padding-top: 12px;
        color: $secondary-color;
        line-height: normal;
        @include fontSize(16px);
      }
    }
  }
  // Shipments section
  &__shipments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 0;
    background-color: $tertiary-color;
    color: $text-color-secondary;

    &--icon {
      height: 120px;
      width: 120px;
    }

    &--title {
      font-weight: bold;
      @include fontSize(24px);

      @include tablet() {
        @include fontSize(30px);
      }

      @include desktop() {
        @include fontSize(36px);
      }
    }

    &--text {
      margin-bottom: 20px;
      @include fontSize(14px);

      @include desktop() {
        @include fontSize(16px);
      }
    }
    &--link {
      color: $text-color-secondary;
      @include fontSize(16px);
    }
  }
  // Shop section
  &__shop {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    @include desktop() {
      flex-direction: row;
    }
    &--content {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      text-align: center;

      &--title {
        @include desktop() {
          width: 430px;
          height: 112px;
        }
      }

      @include desktop() {
        height: 100%;
        width: 50%;
        align-items: inherit;
        display: grid;
        align-content: center;
        line-height: normal;
      }

      &--text {
        color: $secondary-color;
        @include fontSize(14px);

        @include desktop() {
          height: 45px;
          width: 281px;
          text-align: left;
          @include fontSize(16px);
        }
      }
    }
    &--img {
      width: 100%;
      height: 50%;

      @include desktop() {
        height: 100%;
        width: 50%;
      }
    }
  }
}
