.main {
  // Benefits section
  &__benefits {
    padding-top: 63px;
    padding-bottom: 63px;
    background-color: $primary-color;

    .benefits {
      &__inner {
        display: grid;
        justify-items: center;
        text-align: center;
        gap: 37px;

        @include tablet() {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      &__title {
        align-content: center;

        @include tablet() {
          grid-column: 1/4;
          @include fontSize(24px);
        }

        @include desktop() {
          @include fontSize(36px);
          height: 122px;
          width: 800px;
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 208px;

        .benefits-item {
          &__icon {
            height: 120px;
            padding-bottom: 20px;
          }

          &__description {
            padding-top: 12px;
            line-height: normal;
            color: $secondary-color;
            @include fontSize(16px);
          }
        }
      }
    }
  }

  // Shipments section
  &__shipments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $tertiary-color;
    color: $text-color-secondary;

    .shipments {
      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title {
        margin-bottom: 10px;
        font-weight: bold;
        color: $text-color-secondary;
      }

      &__description {
        margin-bottom: 30px;
        @include fontSize(14px);

        @include desktop() {
          @include fontSize(16px);
        }
      }
    }

    .shipments__link {
      color: $text-color-secondary;
      @include fontSize(16px);
    }
  }

  // Shop section
  &__shop {
    @include desktop() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .shop {
      &__slogan {
        text-align: center;
        background-color: $primary-color;
        color: $secondary-color;

        @include desktop() {
          text-align: left;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        .slogan {
          &__inner {
            padding: 0 35px;
            padding-top: 87px;
            padding-bottom: 92px;

            @include desktop() {
              width: 620px;
            }
          }

          &__title {
            @include desktop() {
              width: 430px;
            }
          }

          &__description {
            margin: 10px 0 30px 0;
            @include fontSize(14px);

            @include desktop() {
              width: 280px;
            }
          }
        }
      }

      &__image {
        height: 300px;
        background-image: url("../images/creando-espacios.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include tablet() {
          height: 474px;
        }
      }
    }
  }
}
